.bodybebida {
    display: flex;
    margin: 2% 2% auto;
}
.bebidasAlcoolicas {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 700px)); /* Ajuste o tamanho mínimo conforme necessário */
    gap: 80px;
}
.item {
    margin: 0px 30px auto;
    color: #ffffff;
    width: 300px;
    background-color: #232323;
    overflow: hidden;
    /* filter: drop-shadow(0 0 25px #000000); */
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.item:hover img {
    transform: scale(1.1); /* Expande a imagem 10% quando o mouse está sobre o item */
}
.item .description {
    padding: 10px;
    text-align: left;
    font-size: large;
    font-weight: bold;
}
.item .description2 {
    padding: 10px;
    text-align: left;
    font-size: small;
}
.item .price {
    padding: 10px;
    text-align: right;
    
}
.item .price button{
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, #7a0000, #540000);
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.item .price button:hover{
    background: linear-gradient(45deg, #540000, #7a0000);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);

}
.item .price button:active{
    transform: scale(0.98);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}