.green {
  color: green;
}
.input-container {
  margin-bottom: 10px;
}
.input-container input {
  margin-right: 10px;
}

/* Estilos gerais para o corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

/* Estilo para o título principal */
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilo para o botão de atualização */
button {
  background-color: #eeff00;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #acb900;
}

#container-pedidos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.titulo-mesa {
  font-size: 20px;
  color: #eeff00;
  margin-top: 0;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #eeff00;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

#texto-pedidos {
  font-size: 16px;
  color: #eeff00;
  margin-top: 10px;
}

#texto-pedidos.green {
  color: #eeff00;
}

.opcao-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.opcao-item input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #eeff00;
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
}
.opcao-item input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #eeff00;
}
.opcao-item label {
  font-size: 16px;
}

.nao-selecionavel {
  user-select: none;
}

.pedido-pendente {
  background-color: red;
}

.pedido-finalizado {
  background-color: #28a745;
}
