<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Cozinha Sideral</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../static/styleProd.css" />
        <style>
            @media (max-width: 600px) {
                .bebidasAlcoolicas {
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                }
            }
        </style>
    </head>
    <body class="bodybebida" id="{{id_mesa}}">
        <h2 style="color: #ffffff;">Drinks</h2>
        <div class="bebidasAlcoolicas">
            <div class="item" id="401">
                <img src="../static/imagens/alcoolicas/cosmopolitan.jpeg" alt="Imagem 1">
                <div class="description">Cosmopolitan</div>
                <div class="description2">
                    Cosmopolitan é um coquetel elegante e refrescante, conhecido por sua cor rosa vibrante. Sua base é a vodca, combinada com licor de laranja, suco de cranberry e suco de limão fresco. 
                </div>
                <div class="price">
                    <button value="39.99" >
                        R$39.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="402">
                <img src="../static/imagens/alcoolicas/capirinha.jpeg" alt="Imagem 2">
                <div class="description">Caipirinha</div>
                <div class="description2">
                    Caipirinha é uma bebida tradicional brasileira, conhecida por sua refrescância e simplicidade. Seu sabor é uma combinação equilibrada de cachaça (aguardente de cana), limão-taiti, açúcar e gelo.
                </div>
                <div class="price">
                    <button value="19.99">
                        R$19.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="403">
                <img src="../static/imagens/alcoolicas/DarkandStormy.jpeg" alt="Imagem 2">
                <div class="description">Dark and Stormy</div>
                <div class="description2">
                    Dark and Stormy é um coquetel clássico que combina rum escuro e ginger beer (cerveja de gengibre), servido com gelo. Sua aparência distintiva, com o rum afundando no ginger beer, cria uma divisão entre as duas camadas, lembrando uma tempestade.
                </div>
                <div class="price">
                    <button value="49.99">
                        R$49.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="404">
                <img src="../static/imagens/alcoolicas/GinandTonic.jpeg" alt="Imagem 2">
                <div class="description">Gin e Tônica</div>
                <div class="description2">
                    Gin Tônica é um coquetel clássico que combina a sofisticação do gin com o frescor efervescente da água tônica. Sua receita original é simples, composta por apenas dois ingredientes: gin e água tônica.
                </div>
                <div class="price">
                    <button value="29.99">
                        R$29.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="405">
                <img src="../static/imagens/alcoolicas/Manhattan.jpeg" alt="Imagem 2">
                <div class="description">Manhattan</div>
                <div class="description2">
                    Manhattan é um coquetel clássico e elegante, perfeito para um momento sofisticado no fim do dia. Sua receita varia inclui whisky americano (ou de centeio), vermute tinto, algumas gotas de bitter e uma cereja como guarnição.
                </div>
                <div class="price">
                    <button value="49.99">
                        R$49.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="406">
                <img src="../static/imagens/alcoolicas/whiskey.jpeg" alt="Imagem 2">
                <div class="description">The Macallan 18 Double Cask</div>
                <div class="description2">
                    The Macallan 18 Anos Double Cask é um single malt escocês excepcional, envelhecido por 18 anos em barris de carvalho temperados com xerez americano e europeu.
                </div>
                <div class="price">
                    <button value="79.99">
                        R$79.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
        <script src="../static/sessoesMenu.js"></script>
    </body>
</html>    