<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>mesa: {{id_mesa}}</h1>
  <h2>CARRINHO</h2>
  <div class="input-container">
    <input type="number" id="input-id-item" placeholder="id-item">
    <input type="text" id="input-item" placeholder="item">
    <input type="number" id="input-valor" placeholder="valor">
    <input type="number" id="input-quantidade" placeholder="quantidade">
    <input type="number" id="input-incremento" placeholder="incremento">
  </div>
  
  <button onclick="add_pedido_carrinho({{id_mesa}}, 
  document.getElementById('input-item').value, 
  document.getElementById('input-id-item').value, 
  document.getElementById('input-valor').value, 
  document.getElementById('input-quantidade').value)">add pedido</button>

  <button onclick="deletar_pedido_carrinho({{id_mesa}}, 
  document.getElementById('input-id-item').value)">deletar pedido</button>

  <button onclick="atualizar_carrinho({{id_mesa}})">atualizar carrinho</button>

  <button onclick="incrementar_quantidade({{id_mesa}},
  document.getElementById('input-id-item').value,
  document.getElementById('input-incremento').value)">incrementar quantidade</button>

  <button onclick="limpar_carrinho({{id_mesa}})">limpar carrinho</button>

  <button onclick="enviar_pedido({{id_mesa}})">enviar pedido</button>

  <table>
    <thead>
      <tr>
        <th>id_item</th>
        <th>item</th>
        <th>valor</th>
        <th>quantidade</th>
      </tr>
    </thead>
    <tbody id="carrinho">
    </tbody>
  </table>

  <p id="texto-carrinho" class="green"></p>

  <h2>PEDIDOS</h2>
  <button onclick="atualizar_pedidos_mesa({{id_mesa}})">atualizar pedidos</button>

  <table>
    <thead>
      <tr>
        <th>id pedido</th>
        <th>item</th>
        <th>quantidade</th>
        <th>valor</th>
      </tr>
    </thead>
    <tbody id="pedidos">
    </tbody>
  </table>

  <p id="texto-pedidos" class="green"></p>
</body>
<script src="/static/cliente.js"></script>
</html>
