<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../static/styleProd.css" />
        <style>
            @media (max-width: 600px) {
                .bebidasAlcoolicas {
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                }
            }
        </style>
    </head>
    <body class="bodybebida "id="{{id_mesa}}">
        <h2 style="color: #ffffff;">Pizzas</h2>
        <div class="bebidasAlcoolicas">
            <div class="item" id="101">
                <img src="../static/imagens/principal/3Queijos.jpg" alt="Imagem 1">
                <div class="description">3 Queijos</div>
                <div class="description2">
                    Massa artesanal, molho de tomate caseiro, Mussarela, Provolone, Parmesão, Orégano fresco.                </div>
                <div class="price">
                    <button value="40">
                        R$40.00 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="102">
                <img src="../static/imagens/principal/calabresa.jpg" alt="Imagem 2">
                <div class="description">Calabresa</div>
                <div class="description2">
                    Tomate, Cebola, Alho,  Manjericão,Azeite, Calabresa, Mussarela, Azeitonas pretas, Orégano, Pimenta calabresa (opcional).                </div>
                <div class="price">
                    <button value="38.99">
                        R$38.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="103">
                <img src="../static/imagens/principal/carne_seca.jpg" alt="Imagem 2">
                <div class="description">Carne Seca com Cream Cheese</div>
                <div class="description2">
                    Carne Seca Desfiada, Cream Cheese, Cebola Picada, Queijo Mussarela, Oregano.               
                </div>
                <div class="price">
                    <button value="49.99">
                        R$49.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="104">
                <img src="../static/imagens/principal/cheddae_bacon.jpg" alt="Imagem 2">
                <div class="description">Cheddar e Bacon</div>
                <div class="description2">
                    Bacon Picado, Queijo Cheddar Ralado, Queijo Mussarela, Molho de Tomate.                
                </div>
                <div class="price">
                    <button value="29.99">
                        R$29.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="105">
                <img src="../static/imagens/principal/extravaganzza.jpg" alt="Imagem 2">
                <div class="description">Extravaganzza</div>
                <div class="description2">
                    Mussarela, Provolone, Cheddar, Pepperoni, Salame italiano, Presunto, Carne bovina moída, Cebola, Pimentão verde, Champignon, Azeitona preta.              
                </div>
                <div class="price">
                    <button value="49.99">
                        R$49.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="106">
                <img src="../static/imagens/principal/frango_com_requeijao.jpg" alt="Imagem 2">
                <div class="description">Frango com Requijão
                </div>
                <div class="description2">
                    Frango Desfiado, Requeijão Cremoso, Queijo Mussarela, Molho de Tomate.
                </div>
                <div class="price">
                    <button value="38.99">
                        R$38.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="107">
                <img src="../static/imagens/principal/portuguesa.jpg" alt="Imagem 2">
                <div class="description">Portuguesa</div>
                <div class="description2">
                    Molho de Tomate, Queijo Mussarela, Presunto, Ovo Cozido, Cebola, Orégano.
                </div>
                <div class="price">
                    <button value="39.99">
                        R$39.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="108">
                <img src="../static/imagens/principal/pepperoni.jpg" alt="Imagem 2">
                <div class="description">Pepperoni</div>
                <div class="description2">
                    Molho de Tomate, Queijo Mussarela, Pepperoni.
                </div>
                <div class="price">
                    <button value="38.99">
                        R$38.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="109">
                <img src="../static/imagens/principal/presunto.jpg" alt="Imagem 2">
                <div class="description">Presunto</div>
                <div class="description2">
                    Molho de Tomate, Queijo Mussarela, Presunto.
                </div>
                <div class="price">
                    <button value="42.99">
                        R$42.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>

        <h2 style="color: #ffffff;">Pizzas Veganas</h2>

        <div class="bebidasAlcoolicas">
            <div class="item" id="110">
                <img src="../static/imagens/principal/pizza_atum.jpg" alt="Imagem 2">
                <div class="description">Atum</div>
                <div class="description2">
                    Molho de Tomate, Queijo Mussarela Vegano, Atum, Cebola, Azeitona(Opcional).
                </div>
                <div class="price">
                    <button value="45.98">
                        R$45.98 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="111">
                <img src="../static/imagens/principal/pizza_vegana-inhame-palmito-alcaparras.webp" alt="Imagem 2">
                <div class="description">Inhame, Palmito e Alcaparras</div>
                <div class="description2">
                    Purê de Inhame, Queijo Mussarela Vegano, Palmito, Alcaparras, Cebola (opcional), Orégano.
                </div>
                <div class="price">
                    <button value="39.99">
                        R$39.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="112">
                <img src="../static/imagens/principal/cebola_caramelizada_vegana.jpg" alt="Imagem 2">
                <div class="description">Cebola Caramelizada</div>
                <div class="description2">
                    Cebola Caramelizada, Molho de Tomate, Queijo Vegano, Orégano.
                <div class="price">
                    <button value="39.99">
                        R$39.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
        <script src="../static/sessoesMenu.js"></script>
    </body>
</html>    