<!DOCTYPE html>
<html lang="pt-BR">
    <head>
            <title>Secundario</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="../static/styleProd.css" />
            <style>
                @media (max-width: 600px) {
                    .massas {
                        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                    }
                }
            </style>
    </head>
    <body  class="bodysecundario" id="{{id_mesa}}">

                <h2 style="color: #ffffff;">Massas</h2>

                <div class="massas">
                    <div class="item" id="601" >
                        <img src="../static/imagens/secundario/lasanha-a-bolonhesa-com-queijo.jpg" alt="Lasanha a Bolonhesa com Queijo">
                        <div class="description">Lasanha a Bolonhesa </div>
                        <div class="description2"> Carne a Bolonhesa, Queijo mussarela, Molho Branco.</div>
                        <div class="price">
                            <button  value="42"> R$ 42,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>

                    <div class="item" id="602">
                        <img src="../static/imagens/secundario/carbonara macarrao.jpg" alt="Macarrao a carbonara">
                        <div class="description">Macarrão à carbonara</div>
                        <div class="description2">Queijo Ralado, Macarrão Espaguete, Bacon Picado.</div>
                        <div class="price">
                            <button  value="28" > R$ 28,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>

                    <div class="item" id="603">
                        <img src="../static/imagens/secundario/ravioli-1536x10.jpg" alt="Ravioli">
                        <div class="description">Ravioli</div>
                        <div class="description2">Ravioli de Queijo e Molho de Tomate Fresco.</div>
                        <div class="price">
                            <button  value="35" > R$ 35,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>

                </div>
            
                <h2 style="color: #ffffff;">Saladas</h2>

                <div class="saladas">

                    <div class="item" id="604">
                        <img src="../static/imagens/secundario/Carpaccio.jpg" alt="Carpaccio">
                        <div class="description">Carpaccio</div>
                        <div class="description2">Carpaccio, molho da casa, rúcula, alcaparras e parmesão Acompanha crostini.</div>
                        <div class="price">
                            <button  value="50" > R$ 50,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>

                    <div class="item" id="605">
                        <img src="../static/imagens/secundario/Caprese.jpg" alt="Caprese">
                    <div class="description">Caprese</div>
                        <div class="description2">Muçarela de búfala, tomate assado, tomatinhos e rúcula selvagem Acompanha pão com pesto.</div>
                        <div class="price">
                            <button  value="58" > R$ 58,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>

                    <div class="item" id="606">
                        <img src="../static/imagens/secundario/Sideral.jpg" alt="Sideral">
                    <div class="description">Sideral</div>
                        <div class="description2">Rúcula, alcachofrinha assada na lenha, muçarela de búfala, tomatinhos e castanha do Pará. Acompanha pão com pesto.</div>
                        <div class="price">
                            <button  value="55" > R$ 55,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>

                </div>

                <h2 style="color: #ffffff;">O melhor da casa</h2>
                
                <div class="best">
                    <div class="item" id="607">
                        <img src="../static/imagens/secundario/th-279913910.jpg" alt="X-ratao">
                    <div class="description">X-Ratão</div>
                        <div class="description2">Uma receita especial para pessoas especiais .</div>
                        <div class="price">
                            <button  value="5" > R$ 5,00  <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                    </div>
                </div>

        <script src="../static/sessoesMenu.js"></script>
    </body>
</html>
