<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Sobremesas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../static/styleProd.css" />
        <style>
            @media (max-width: 600) {
                .Sobremesas {
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                }
            }
        </style>
    </head>
    <body class="bodySobremesas "id="{{id_mesa}}">
        <h2 style="color: #ffffff;">Pizzas</h2>
        <div class="bebidasAlcoolicas">
            <div class="item" id="101">
                <img src="../static/imagens/Sobremesas/Casquinha.png" alt="Imagem 1">
                <div class="description">
                    Casquinha de Baunilia
                </div>
                <div class="description2">
                    Sobremesa gelada, com uma casquinha e 200 gramas de sorvete de baunilia.             </div>
                <div class="price">
                    <button value="40">
                        R$11,99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="102">
                <img src="../static/imagens/Sobremesas/Casquinha de Morango.png" alt="Imagem 2">
                <div class="description">
                    Casquinha de Morango
                </div>
                <div class="description2">
                    Sobremesa gelada, com uma casquinha e 200 gramas de sorvete de morango.                </div>
                <div class="price">
                    <button value="40">
                        R$11,99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="103">
                <img src="../static/imagens/Sobremesas/Copo de açai.png" alt="Imagem 2">
                <div class="description">
                    Copo de açaí
                </div>
                <div class="description2">
                    Copo de Açaí, 120 gramas de açaí,castanhas e 80 gramas de sorvete de creme.               
                </div>
                <div class="price">
                    <button value="50">
                        R$23,99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="104">
                <img src="../static/imagens/Sobremesas/CenouraBolo.png" alt="Imagem 2">
                <div class="description">
                    Bolo de Cenoura
                </div>
                <div class="description2">
                    Fatia de bolo de cenoura com calda de chocolate.                
                </div>
                <div class="price">
                    <button value="30">
                        R$6,99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="105">
                <img src="../static/imagens\Sobremesas\Bolo-Prestigio.png" alt="Imagem 2">
                <div class="description">
                    Bolo de Prestigio
                </div>
                <div class="description2">
                    Fatia de bolo de prestigio com beijinhos.             
                </div>
                <div class="price">
                    <button value="50">
                        R$15,99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="106">
                <img src="../static/imagens\Sobremesas\pudim.png" alt="Imagem 2">
                <div class="description">
                    Pudim de Leite
                </div>
                <div class="description2">
                    Pudim de Leite de com calda.
                </div>
                <div class="price">
                    <button value="40">
                        R$44,99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="107">
                <img src="../static/imagens\Sobremesas\Brigadeiro.png" alt="Imagem 2">
                <div class="description">
                    Brigadeiro
                </div>
                <div class="description2">
                    Brigadeiro de Chocolate, cacau 90%, unidade.
                </div>
                <div class="price">
                    <button value="40">
                        R$1,20 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="108">
                <img src="../static/imagens\Sobremesas\goiabada.png" alt="Imagem 2">
                <div class="description">
                    Goiabada
                </div>
                <div class="description2">
                    Goiabada com queijo.
                </div>
                <div class="price">
                    <button value="40">
                        R$0,70 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            
        </div>
        <script src="../static/sessoesMenu.js"></script>
    </body>
</html>    