<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Sobremesas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../static/styleProd.css" />
        <style>
            @media (max-width: 600px) {
                .bebidasAlcoolicas {
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                }
            }
        </style>
    </head>
    <body class="bodySobremesas "id="{{id_mesa}}">
        <h2 style="color: #ffffff;">Pizzas</h2>
        <div class="bebidasAlcoolicas">
            <div class="item" id="301">
                <img src="../static/imagens/Sobremesas/Casquinha.png" alt="Imagem 1">
                <div class="description">
                    Casquinha de Baunilia
                </div>
                <div class="description2">
                    Sobremesa gelada, com uma casquinha e 200 gramas de sorvete de baunilia.             </div>
                <div class="price">
                    <button value="10.99">
                        R$10.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="302">
                <img src="../static/imagens/Sobremesas/Casquinha de Morango.png" alt="Imagem 2">
                <div class="description">
                    Casquinha de Morango
                </div>
                <div class="description2">
                    Sobremesa gelada, com uma casquinha e 200 gramas de sorvete de morango.                </div>
                <div class="price">
                    <button value="10.99">
                        R$10.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="303">
                <img src="../static/imagens/Sobremesas/Copo de açai.png" alt="Imagem 2">
                <div class="description">
                    Copo de açaí
                </div>
                <div class="description2">
                    Copo de Açaí, 120 gramas de açaí,castanhas e 80 gramas de sorvete de creme.               
                </div>
                <div class="price">
                    <button value="24.99">
                        R$24.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="304">
                <img src="../static/imagens/Sobremesas/CenouraBolo.png" alt="Imagem 2">
                <div class="description">
                    Bolo de Cenoura
                </div>
                <div class="description2">
                    Fatia de bolo de cenoura com calda de chocolate.                
                </div>
                <div class="price">
                    <button value="7.99">
                        R$7.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="305">
                <img src="../static/imagens\Sobremesas\Bolo-Prestigio.png" alt="Imagem 2">
                <div class="description">
                    Bolo de Prestigio
                </div>
                <div class="description2">
                    Fatia de bolo de prestigio com beijinhos.             
                </div>
                <div class="price">
                    <button value="15.99">
                        R$15.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="306">
                <img src="../static/imagens\Sobremesas\pudim.png" alt="Imagem 2">
                <div class="description">
                    Pudim de Leite
                </div>
                <div class="description2">
                    Pudim de Leite de com calda.
                </div>
                <div class="price">
                    <button value="44.99">
                        R$44.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="307">
                <img src="../static/imagens\Sobremesas\Brigadeiro.png" alt="Imagem 2">
                <div class="description">
                    Brigadeiro
                </div>
                <div class="description2">
                    Brigadeiro de Chocolate, cacau 90%, unidade.
                </div>
                <div class="price">
                    <button value="0.99">
                        R$0.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="item" id="308">
                <img src="../static/imagens\Sobremesas\goiabada.png" alt="Imagem 2">
                <div class="description">
                    Goiabada
                </div>
                <div class="description2">
                    Goiabada com queijo.
                </div>
                <div class="price">
                    <button value="2.99">
                        R$2.99 <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            
        </div>
        <script src="../static/sessoesMenu.js"></script>
    </body>
</html>    