<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <h2>PEDIDOS</h2>
  <button onclick="atualizar_pedidos()">atualizar pedidos</button>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>data hora</th>
        <th>mesa</th>
        <th>item</th>
        <th>quantidade</th>
        <th>valor</th>
        <th>id pedido</th>
      </tr>
    </thead>
    <tbody id="pedidos">
    </tbody>
  </table>

  <p id="texto-pedidos" class="green"></p>
</body>
<script src="/static/vendedor.js"></script>
</html>
